<%- include('header'); %>

<h2>Bienvenue sur le blog !</h2>

<div>
    <div class="pink-bg">Titre</div>
    <div>Contenu</div>
</div>

<form action="blog" method="POST">
    <label for="name">Quel est votre prénom :</label>
    <input type="text" name="name" id="name" minlength="3" placeholder="e.g Albert">
</form>
<%- include('footer'); %>
